.quiz-result-page__detail {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  overflow: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.table {
  border-collapse: collapse;
  margin: auto;
}
.table__head {
  border-bottom: 1px solid gray;
}
.table__head .head__element {
  padding: 1em;
}

.table__row:not(:first-child) {
  border-top: 1px solid rgba(255, 239, 187, 0.5);
}
.table__row .table__element {
  padding-block: 2em;
  padding-inline: 0.5em;
  text-align: center;
}
.table__row .table__element.incorrect {
  background-color: rgba(216, 117, 117, 0.4);
}
.table__row .table__element.correct {
  background-color: rgba(121, 201, 125, 0.4);
}

.score-hide-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 2vw;
  left: 2vw;
  transition: translate 0.3s;
  rotate: 180deg;
}
.score-hide-detail:hover {
  translate: 0 -5px;
}
.score-hide-detail:hover .score-hide-detail__btn {
  animation: none;
}
.score-hide-detail__btn {
  font-size: 4rem;
  cursor: pointer;
  animation: score-detail-btn 2500ms infinite;
}

@keyframes anim-show {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes score-detail-btn {
  0% {
    transform: initial;
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: initial;
  }
}
