.score__score-demo .score-demo__bg {
  border: 15px solid rgb(190, 133, 204);
}
.score__score-demo .score-demo__score-bar {
  width: 70%;
  height: 70%;
  background-color: rgb(182, 91, 190);
  outline: 1px solid white;
  outline-offset: 0.35em;
}
.score__score-demo .score-demo__score-bar .score-bar__svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}
.score__score-demo .score-demo__score-bar .score-bar__bar {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: calc(10 * var(--mult));
  stroke-dasharray: calc(375 * var(--mult));
  stroke-dashoffset: calc(375 * var(--mult));
  stroke: hsl(0, 0%, 100%);
  stroke-linecap: round;
  animation: anim-perc-bar 2s ease-in-out forwards;
}
.score__score-demo .score-demo__score-precentage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  width: 50%;
  height: 50%;
  font-size: calc(2rem * var(--mult));
  border-radius: inherit;
  background-color: #1f1f1f;
  border: 1px solid #ffffff;
  margin: 3em;
}

@keyframes anim-perc-bar {
  to {
    stroke-dashoffset: var(--calc);
  }
}
